#schedule-content{
    width: 100vw;
    background-color: #ebf2f5;
}

#schedule-content main{
    width: 90vw;
    margin: 5rem auto;
    color:var(--color-blue);

    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

#schedule-content main section{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

#schedule-content main section article header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.8rem;
}

#schedule-content main section article header h4{
    max-width: 40vw;
    background-color: #72bad0;
    color:var(--color-blue);
    padding: 0.5rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
}

#schedule-content main section article div{
    margin-left: 4rem;
}

#schedule-content main section article div ul{
    list-style:circle;
}

#schedule-content main section article div ul li p{
    line-height: 0.3rem;
    font-weight: 300;
}

#schedule-content main section article div ul li h5{
    font-weight: 500;
}

#presenting-section{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    
    background-color: var(--color-primary);
    padding: 0.5rem;
    width: 10rem;
    text-align: center;
    border-radius: 1.5rem;
    color: #fff;

    animation: flash 600ms linear infinite;
}

#presenting-section a{
    margin: 0;
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
}

#presenting-section a:hover{
    opacity: 0.8;
}

@keyframes flash{
    from {
        transform: scale(0.96);
    }
    to {
        transform: scale(1);
    }
}

@media(max-width:865px){
    #schedule-content main{
        width: 90vw;
        margin: 5rem auto;
        color:var(--color-blue);
    
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }

    #schedule-content main section article header h4{
        max-width: 100%;
    }
}